body  {
    max-width: 1400px;
    margin: 10px;
    background-color: white;
}

li {
    padding-top: 10px;
 margin-right: 5px;
 list-style: none;
}

.containerPortada {
    border: 1px solid rgb(214, 209, 209);
    border-radius: 3%;
    padding: 0px;
    margin-top: 10px;
    /* background-size: cover; */
}


#fotoPortada {
    max-width: 100%;
    margin-bottom: -50px;
    max-height:800px;
    border-radius: 10px 10px 0 0;
}

#fotoPerfil {
    border-radius: 50%;
    margin-left:  20px;
} 

.botonPerfil{
    padding: 20px 0 0 20px;
}

.nombrePerfil {
    padding: 10px 0 0 20px;
}

.nombrePerfil p {
    margin: 0;
}

.containerBorde {
    border: 1px solid rgb(214, 209, 209);
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
}

.img-ico {
    max-width: 35px;
    max-height: 30px;
    margin: 10px 0 0 10px;
    padding: 0;
}

/* .info-col {
    padding: 0;
    margin: 0;
} */

footer{
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}