body  {
    background-color: white;
}

.navbarHeader {
    /* border-radius: 20px; */
    background-color: #000000;
}

.navbar-brand {
    color: white;
    padding-left: 11px;
    font-size: 20px;
}

li {
    padding-top: 10px;
    margin-right: 5px;
    list-style: none;
}

.login{
    padding-bottom: 11px;
}

.containerPortada {
    border: 1px solid rgb(214, 209, 209);
    border-radius: 0 0 20px 20px;
    padding: 0px;
    margin-top: 10px;
    /* background-size: cover; */
}

#fotoPortada {
    margin-bottom: -50px;
    /* border-radius: 0 0 20px 20px; */
}

#fotoPerfil {
    border-radius: 50%;
    border: 2px solid white;
    margin-left:  20px;
} 

.botonPerfil{
    padding: 20px 0 0 20px;
}

.nombrePerfil {
    padding: 10px 0 0 20px;
}

.nombrePerfil p {
    margin: 0;
}

.containerBorde {
    border: 1px solid rgb(214, 209, 209);
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
}

.img-ico {
    max-width: 35px;
    max-height: 30px;
    margin: 10px 0 0 10px;
    padding: 0;
}

/* .infoColIcon {
    padding-left: 80px;
    margin: 0;
} */

.sangria {
    padding-left: 40px;
}

.progress {
    border-radius: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: black;
    color: white;
    justify-content: center;
    padding: 25px 0 10px 0;
    /* border-radius: 20px; */
}